<h1>My tasks</h1>

<ul class="list-unstyled">
  <% @tasks.each do |task| %>
    <li class="d-flex gap-2">
      <%= form_with model: task, local: true do |f| %>
        <%= f.check_box :completed %>
      <% end %>
      <%= link_to task.title, task_path(task.id) %>
      <span>.</span>
      <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, task_path(task),
                        data: {turbo_method: :delete,
                        turbo_confirm: "Are you sure?"}
      %>
    </li>
  <% end %>
</ul>

<hr class="custom-line">

<%= link_to "+ Add a new task", new_task_path %>
