<h1>My tasks</h1>

<ul class="list-unstyled">
  <% @tasks.each do |task| %>
    <li>
      <%= form_with model: task, local: true do |f| %>
        <%= f.check_box :completed %>
      <% end %>
      <%= link_to task.title, task_path(task.id) %>
       <%= link_to "ðŸ—‘ï¸", task_path(task),
                        data: {turbo_method: :delete,
                        turbo_confirm: "Are you sure?"}
      %>
    </li>
  <% end %>
</ul>

<%= link_to "+ Add a new task", new_task_path %>
